.row-block.row-block--hero-unit {
  position: relative;
  padding: 0;
  overflow: visible; // Allows for selects/dropdowns to overflow hero unit

  height: 84vh;

  @media @mobile {
    height: 88vh;
  }

  &.visible {
    background-image: url('@{dealer-img}/theme/slide-1{CACHE_BUSTER}.jpg') !important;
    background-position: center;
    background-size: cover !important;

    @media @mobile {
      background-image: url('@{dealer-img}/theme/slide-1--mobile{CACHE_BUSTER}.jpg') !important;
    }

    &::before {
      content: " ";
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-image: url('@{dealer-img}/theme/hero-unit__background--wave{CACHE_BUSTER}.svg');
    background-size: 100% auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none;

    @media @mobile {
      background-size: 110% auto;
    }
  }

  @media @mobile {
    min-height: 340px;
  }

  .wrapper,
  .container {
    overflow: visible; // Allows for selects/dropdowns to overflow hero unit
  }


}


.heroUnit {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-top: 90px;
  padding: 40px 32px 80px;
  // background: linear-gradient(to bottom, fade(@custom-colour4,32%), fade(@custom-colour4,0%));
  // background: linear-gradient(to bottom, fade(@primary-colour,32%), fade(@primary-colour,0%));

  @media @lap {
    max-width: 480px;
    margin-top: 80px;
  }

  @media @mobile {
    height: auto;
    min-height: unset;
    padding: 24px 0;
    background: transparent;
    z-index: 1;
    margin-top: 35px;
  }

  &__mainTitle {
    display: block;
    color: white;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;

    @media @lap {
      font-size: 29px;
    }
  }

  &__subtitle {
    font-size: 25px;
    color: white;

    @media @lap {
      font-size: 21px;
    }
  }
}


.hero-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -32px;
  margin-bottom: -16px;
  padding: 0 0 48px;
  background: none !important;

  @media @mobile {
    flex-wrap: wrap;
    padding: 0 0 24px;
  }

  li {
    flex: 0 0 auto;
    margin-right: 32px;
    margin-bottom: 16px;
    transform: translateY(80px);
    opacity: 0;
    transition: all 200ms ease-in-out;

    a {
      display: block;
      padding: 16px 48px;
      background: @secondary-colour;
      color: white;
      font-size: 24px;
      font-weight: bold;
      border-radius: 99px;
      box-shadow: 0 4px 16px fade(@secondary-colour, 56%);

      @media @tablet {
        font-size: 20px;
        padding: 12px 32px;
      }

      &:hover {
        background: @accent-colour;
        color: white;
        box-shadow: 0 8px 16px fade(@accent-colour, 64%);
      }
    }
  }

  &.visible {
    li {
      transform: translateY(0);
      opacity: 1;
    }

    li:nth-child(1) {
      transition-delay: 1s;
    }

    li:nth-child(2) {
      transition-delay: 1.14s;
    }

    li:nth-child(3) {
      transition-delay: 1.28s;
    }

    li:nth-child(4) {
      transition-delay: 1.42s;
    }
  }
}




// Hero Search overrides
#heroSearch {
  background: @custom-colour1;
  border-radius: 0px;
  box-shadow: 0 8px 32px fade(black, 32%);

  @media @mobile {
    box-shadow: 0 8px 16px fade(black, 16%);
  }

  .hero-search {

    .tabs-buttons {
      // background: darken(@custom-colour1,8%);

      .tabs-button {
        // background: darken(@custom-colour1,8%);
        // color: @text-colour;
        // font-family: @body-font;
        font-size: 26px;

        em {
          display: none;
        }

        &.selected {
          // background: @custom-colour1;
          // color: @heading-colour;

          em {
            color: @accent-colour;
          }
        }
      }
    }

    .tabs-content {
      // padding: 24px;
      // background: @custom-colour1;
    }

    .toggle-group {
      // background: @custom-colour2;

      .toggle-button {
        // font-family: @body-font;

        &.selected,
        &:hover {
          // background: @accent-colour2;
          // color: white;
          // text-shadow: 0 3px 6px fade(black,16%);
        }

        // &:hover {
        // background: @accent-colour;
        // }
      }
    }

    .accordion__heading:after,
    .dropdown__heading:after {
      // .char(angle-down);
      // color: @secondary-colour;
      font-size: 22px;
    }

    // .hero-search-button {
    //   background: @accent-colour;

    //   &:hover {
    //     background: @primary-colour;
    //   }
    // }
  }
}



// Award Banner
.awardBnr {
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px 16px 24px 40px;
  background: white;
  text-align: center;
  border-radius: 0 0 0 45px;
  box-shadow: -8px -8px 16px fade(black, 32%);

  @media @mobile {
    display: none;
  }

  img {
    max-width: 170px;
  }
}

.heroTabs {
  display: flex;
  flex-wrap: nowrap;

  &__item {
    flex: 1 1 60px;
    background: fade(@primary-colour, 80%);
    border-radius: 8px 8px 0 0;
    transition: all 200ms ease-in-out;
    text-align: center;

    &.ui-state-active {
      background: white;

      &.ui-state-hover {
        background: white;
      }

      a {
        color: @primary-colour;

        i {
          color: @accent-colour;
        }
      }
    }

    &.ui-state-hover {
      background: @secondary-colour;

      a {
        color: @primary-colour;
      }
    }

    a {
      display: block;
      padding: 16px;
      color: white;
      font-size: 18px;
      font-weight: bold;
      transition: all 200ms ease-in-out;

      @media @mobile {
        font-size: 14px;
      }

      i {
        color: @accent-colour;
      }
    }
  }
}

.heroTab {
  background: white;
  padding: 32px;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 10px 20px fade(black, 25%);
  box-sizing: content-box;
  // min-height: 306px;
  display: flex;
  align-items: center;

  @media @mobile {
    padding: 24px;
    border-radius: 0;
  }
}

.search-block {
  width: 100%;
}

.o-search.o-search--home {
  position: relative;

  .search-block__title {
    color: @heading-colour;
    font-family: @heading-font;
    font-weight: bold;
    font-size: 22px;
    display: block;

    @media @mobile {
      font-size: 18px;
    }
  }

  fieldset {
    width: auto;
    border: none;
    padding: 0;
    margin: 0;
  }

  .form-group {
    margin-bottom: 10px;
  }

  select {
    line-height: 54px;
    height: 54px;
    box-shadow: none;
    color: @text-colour;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 41px 0 12px;
    border: 1px solid #ddd;
    background-size: 14px 14px !important;
    background-position: right 6px center !important;
    background-color: @custom-colour1;
    background-size: 20px 20px !important;
    background-position: right 16px center !important;
    margin-bottom: 10px;
  }

  .button-group {
    width: 100%;

    a,
    button,
    input[type=submit] {
      width: 100%;
    }
  }


  // price fieldset

  .fieldset--price {
    // margin-top: 50px;
  }

  .budget-toggle {
    // position: absolute;
    // bottom: 100%;
    // left: 50%;
    margin-bottom: 20px;
    // transform: translateX(-50%);

    @media @mobile {
      // position: relative;
      margin-bottom: 16px;
      // left: 46%;
    }

    .finance,
    .price {
      color: lighten(@primary-colour, 20%);
      font-weight: bold;
      margin-bottom: 8px;

      @media @mobile {
        color: @primary-colour;
      }
    }

    .price {
      margin-left: 10px;
      margin-right: auto;
    }
  }

  .a-toggle+label {
    background: transparent;
    border: 1px solid @primary-colour;
    width: 52px;
    height: 24px;

    @media @mobile {
      border-color: @primary-colour;
    }

    &:before {
      background-color: @accent-colour !important;

      @media @mobile {
        background-color: @accent-colour !important;
      }
    }
  }
}


.tab-sell-your-car {
  text-align: center;

  .tabs-content__subheading {
    color: @heading-colour;
    font-family: @heading-font;
    font-weight: 700;
    font-size: 22px;
    display: block;
  }

  // .clickbuy-search {

  //   &__button button {
  //     background: @accent-colour;
  //     color: white;
  //   }

  //   &__manual a {
  //     color: @accent-color;
  //   }
  // }
}


.hero-search {
  width: 470px;
  box-shadow: 0px 8px 16px #00000026;
  border-radius: var(--hero-search-tabs-content-radius);

  @media @lap {
    width: 420px;
  }

  @media @tablet {
    width: 360px;
  }

  @media @mobile {
    margin: 0 auto;
    width: 94%;
  }

  .tabs-buttons {
    // border-bottom: 1px solid var(--border-color);
  }

  .tabs-button {
    text-transform: capitalize;

    em {
      display: none;
    }

    &.selected {
      position: relative;

      // &:before {
      //   content: '';
      //   background: var(--primary-color);
      //   position: absolute;
      //   bottom: -1px;
      //   left: 0;
      //   height: 4px;
      //   width: 100%;
      //   z-index: 2;
      // }
    }
  }

  // hides the car/bike/van togggle
  .toggle-group {
    display: none;
  }

  .tabs-content {

    &__heading {
      margin-bottom: 16px !important;
      font-size: 22px !important;
      // hide
      display: none;

      @media @tablet {
        font-size: 20px !important;
      }

      @media @mobile {
        font-size: 18px !important;
      }
    }

    &__subheading {
      display: none;
    }
  }

  .inline-dropdowns {
    flex-direction: row;
    gap: 16px;

    @media @mobile {
      flex-direction: column;
    }

    .dropdown-manufacturer {
      margin-right: 0 !important;
    }
  }

  // .accordion.budget {
  //   display: none;
  // }
}