// Utility Promo Styles

.promo-block {
  display: flex;
  flex-wrap: wrap;
  margin-right: -32px;
  margin-bottom: -32px;

  &__item {
    flex: 0 0 calc(~'100% / 3 - 32px');
    width: calc(~'100% / 3 - 32px');
    margin-right: 32px;
    margin-bottom: 32px;

    @media @mobile {
      flex: 0 0 calc(~'100% - 32px');
      width: calc(~'100% - 32px');
    }
  }

  // Modifiers
  &--twin {
    .promo-block__item {
      flex: 0 0 calc(~'100% / 2 - 32px');
      width: calc(~'100% / 2 - 32px');

      @media @mobile {
        flex: 0 0 calc(~'100% - 32px');
        width: calc(~'100% - 32px');
      }
    }
  }
}




// click buy Promo
.row-block.row-block--click-buy {
  background: #E7F7FE;

  .wrapper,
  .container {
    overflow: visible;
  }



  .promo-block__item--image {
    border-radius: 24px;
    overflow: hidden;
  }


  .sellcar-promo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    @media @mobile {
      flex-direction: column-reverse;
    }

    &__content {
      width: 60%;

      @media @mobile {
        width: 100%;
      }

      h2 {
        color: black;
        font-size: 35px;
        font-weight: 900;

        @media @tablet {
          font-size: 30px;
        }

        @media @mobile {
          font-size: 28px;
        }
      }

      p {
        font-size: 18px;
        color: darken(@text-colour, 10%);

        @media @tablet {
          font-size: 16px;
        }
      }

      .clickbuy-search {
        align-items: flex-start;

        &__form {
          @media @tablet {
            justify-content: flex-start;
          }
        }
      }
    }

    &__image {
      background-image: url('@{dealer-img}/theme/promo__img--valuation{CACHE_BUSTER}.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      width: 300px;
      height: 350px;
      border-radius: 20px;

      @media @tablet {
        width: 225px;
        height: 275px;
      }

      @media @mobile {
        width: 100%;
        height: 180px;
        margin-bottom: 19px;
      }
    }
  }


}





// reviews
.click-reputation-reviews {
  background: @custom-colour1;
  .section-padding;
  position: relative;

  .wrapper,
  .container {
    overflow: visible;
  }

  // .row-block__heading {
  //   color: white;
  // }

  // // starting animation styles
  // .row-block__heading,
  // #click-reputation-reviews-slider {
  //   opacity: 0;
  // }

  // // animation styles
  // &.ani-active {

  //   .row-block__heading {
  //     animation: fadeInUp 0.5s forwards ease-out;
  //     animation-delay: 0s;
  //   }
  //   #click-reputation-reviews-slider {
  //     animation: fadeInUp 0.5s forwards ease-out;
  //     animation-delay: 0.5s;
  //   }
  // }
}

#click-reputation-reviews-slider {
  width: 100%;
  height: 230px;

  @media @mobile {
    height: 300px;
  }

  .rsContainer,
  .rsContent,
  .rsSlide {
    background: transparent !important;
    height: auto;
  }

  blockquote {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
  }

  .click-reputation {

    &__quote {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 95px;

      @media @mobile {
        -webkit-line-clamp: 5;
        min-height: 135px;
      }

      p {
        color: @text-colour;
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.5;

        @media @mobile {
          font-size: 18px;
        }
      }
    }

    &__star-rating {
      margin-top: 20px;

      span {
        color: @accent-colour;
      }
    }

    &__name {
      color: @heading-colour;
    }

    &__button {
      margin-top: 20px;

      a {
        .btn;
        transform: scale(1);

        &:hover {
          // background: white !important;
          // color: @primary-colour !important;
          transform: scale(1.1);
        }
      }
    }
  }
}





// main promos

.row-block.row-block--main-promos {
  // background: @custom-colour1;
  padding: 70px 0;

  @media @tablet {
    padding: 45px 0 20px 0;
  }

  @media @mobile {
    padding: 45px 0 20px 0;
  }

  .wrapper,
  .container {
    overflow: visible;
  }

  .promo-block {

    &__item {
      display: flex;
    }
  }

  .row-block__heading {
    color: black;
    font-weight: 900;
    font-size: 34px;

    @media @tablet {
      font-size: 32px;
    }

    @media @mobile {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }


  .services-promo {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;

    @media @tablet {
      flex-wrap: wrap;
    }

    &--box {
      display: flex;
      flex-direction: column;

      width: calc(100% / 3 - 40px);

      @media @tablet {
        width: calc(100% / 2 - 40px);
        margin: 20px 0;
      }

      @media @mobile {
        width: calc(100% - 40px);
      }


      &__image {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-main {
          border-radius: 25px;
        }
      }

      &__content {
        text-align: center;
        margin-top: -15px;

        h3 {
          color: black;

          @media @lap {
            font-size: 22px;
            margin-bottom: 7px;
          }
        }

        p {
          @media @lap {
            font-size: 15px;
          }
        }

        a.btn {
          background-color: transparent !important;
          color: @accent-colour !important;
          border-radius: 30px !important;
          border: 2px solid @accent-colour !important;
          padding: 8px 30px !important;

          &:hover {
            background-color: @accent-colour !important;
            color: white !important;
          }
        }
      }

    }

    &__icon {
      background-image: url('@{dealer-img}/theme/icon-holder{CACHE_BUSTER}.png');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: -50px;
      width: 300px;
      height: 100px;
      display: inline-block;

      text-align: center;

      @media @lap {
        height: 90px;
        margin-top: -44px;
      }

      .icon {
        margin-top: 20px;


        img {
          max-width: 50px;

          @media @lap {
            max-width: 45px;
          }
        }
      }
    }
  }
}

.promoCard {
  display: block;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  transition: all 200ms ease-in-out;
  overflow: hidden;
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, .2);

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px fade(@primary-colour, 16%), 0 16px 32px fade(@accent-colour, 16%);
  }

  &__image {
    position: relative;
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 24px;
    width: 50px;
    height: 50px;
    background: @accent-colour;
    color: white;
    border-radius: 999px;
    transform: translateY(50%);
    font-size: 24px;

    @media @tablet {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
  }

  &__content {
    padding: 24px;

    em {
      display: block;
      margin-bottom: 8px;
      color: @heading-colour;
      font-size: 20px;
      font-weight: bold;

      // span {
      //   position: relative;

      //   &:after {
      //     content: '';
      //     position: absolute;
      //     top: 100%;
      //     left: 0;
      //     width: 100%;
      //     border-bottom: 3px solid @accent-colour;
      //   }
      // }
    }

    p {
      @media @tablet {
        font-size: 14px;
      }
    }
  }
}