.results-layout {
  .flex-display;

  // Swap search to the right hand side
  // .flex-direction(@direction: row-reverse);

  &__search {
    position: relative;
    .flex-grow(@grow: 0);
    .flex-shrink(@shrink: 0);
    .flex-basis(@width: 320px);
    padding: 20px;
    background: darken(@body-colour, 4%);
    box-sizing: border-box;

    @media @lap {
      .flex-basis(@width: 260px);
    }

    @media @tablet {
      .flex-basis(@width: 220px);
      padding: 10px;
    }

    @media @mobile {
      display: none;
      position: fixed;
      top: 50px;
      height: calc(~'100vh - 50px');
      width: 100%;
      margin-top: 0;
      padding: 20px;
      overflow: scroll;
      z-index: 9999;
    }

    #mobile-close {
      display: none;
    }

    &.toggled {
      display: block;

      #mobile-close {
        .flex-display(@display: flex);
        .align-items(@align: center);
        position: absolute;
        top: 10px;
        right: 20px;
        padding: 5px;
        background: darken(@body-colour, 8%);
        color: @custom-colour4;
        border-radius: 99px;

        i {
          margin-left: 5px;
          padding: 5px 8px;
          background: fade(black, 10%);
          color: @custom-colour4;
          border-radius: 9999px;
        }
      }
    }
  }

  &__listings {
    .flex-grow(@grow: 1);
    .flex-shrink(@shrink: 1);
    .flex-basis(@width: auto);
    width: auto;
    min-width: 0; // Flex fix - Stops resultsn page scrolling horizontally when switching to list view
    background: @body-colour;
  }
}




// Makes position sticky work
#search_page #wrapper {
  overflow: visible;
}

.o-search.o-search--results {
  position: sticky;
  position: -webkit-sticky;
  top: 100px; // Adjust this based on the height of the header + 20px
  overflow: auto;
  overflow-x: hidden;

  @media @tablet {
    top: 70px; // Adjust this based on the height of the header + 10px
  }

  @media @mobile {
    position: static;
  }

  .fieldset {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  // Two col on mobile
  @media @mobile {
    .fieldset__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-right: -10px;
      margin-bottom: -10px;
    }

    .form-group {
      flex: 0 0 calc(~'100% / 2 - 10px');
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .budget-toggle {
      flex: 0 0 calc(~'100% - 10px');
      margin-right: 10px;
      margin-bottom: 10px;

      .form-group {
        flex: 0 0 auto;
        margin-right: 10px;
      }
    }

    .button-group {
      flex: 0 0 calc(~'100% - 10px');
    }
  }
}


// Fix search button if viewport height is smaller than form height

@media screen and (max-height: 720px) {
  .o-search--results {
    height: calc(~'100vh - 80px'); // Adjust this based on the height of the header + header promotions bar.
    overflow: auto;

    .button-group {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 320px;
      padding: 20px;
      background: darken(@body-colour, 4%);
      box-sizing: border-box;
      z-index: 5;

      &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        height: 15px;
        width: 100%;
        background: linear-gradient(to top, fade(black, 10%), fade(fade(black, 10%), 0%));
      }
    }

    .fieldset--price {
      margin-bottom: 100px !important; // Safari fix - replaces the height lost from the button fixing
    }
  }
}

@media screen and (max-height: 720px) and (max-width: 1279px) {
  .o-search--results {

    .button-group {
      width: 260px !important;
    }
  }
}

@media screen and (max-height: 720px) and (max-width: 979px) {
  .o-search--results {

    .button-group {
      width: 220px !important;
      padding: 20px 10px !important;
    }
  }
}

@media screen and (max-height: 720px) and (max-width: 739px) {
  .o-search--results {
    height: 100% !important;
    max-height: calc(~'100vh - 50px') !important;

    .button-group {
      width: 100% !important;
      padding: 20px !important;
    }
  }
}

// re-positions the button if the site hits the footer
.o-search--results.at-foot {
  overflow: auto !important;
  overflow-x: hidden !important;
  height: unset !important;
  max-height: unset !important;

  .fieldset--price {
    margin-bottom: 20px !important; // Safari fix - replaces the height lost from the button fixing
  }

  .button-group--search {
    position: unset !important;
    bottom: unset !important;
    left: unset !important;
    width: unset !important;
    padding: unset !important;
    background: unset !important;
    z-index: unset !important;

    &:before {
      content: none;
    }
  }
}


#results {
  overflow: hidden;
}



.super-banner {
  padding: 0 !important;
}



// Filters

.res-filt {
  position: relative;
  padding: 20px;
  clear: left;
  box-sizing: border-box;

  @media @tablet {
    padding: 10px;
  }

  @media @mobile {
    .align-items(@align: stretch);
    padding: 0;
    // margin-top: 50px;
    margin-right: -2px;
    margin-bottom: 60px;
  }

  &--top {
    border-bottom: 1px solid darken(@body-colour, 7%);
  }

  &--bottom {
    border-top: 1px solid darken(@body-colour, 7%);
    border-bottom: 1px solid darken(@body-colour, 7%);
  }

  &__wrapper {
    .flex-display(@display: flex);
    .align-items(@align: center);
    .justify-content(@justify: space-between);
    margin-right: -20px;
    margin-bottom: -10px;

    @media @mobile {
      margin-bottom: 0;
    }
  }

  &__showing {
    flex: 0 0 auto;
    margin-bottom: 10px;

    @media @lap {
      font-size: 12px;
    }

    .hide-me {
      @media @lap {
        display: none;
      }
    }
  }

  &__pagination {
    flex: 0 0 auto;
    margin: 0 auto;
    margin-bottom: 10px;

    @media @mobile {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-bottom: 1px solid darken(@body-colour, 7%);
    }
  }

  &__mobile-filters {
    display: none;

    @media @mobile {
      position: fixed;
      top: 50px;
      left: 0;
      height: 50px;
      width: calc(~'(100% / 2)');
      display: block;
      background: @primary-colour;
      z-index: 10;
    }

    a {
      background: @primary-colour;
      color: white;
      font-family: @heading-font;
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap;
      padding: 8px 4px;

      &:hover {
        color: @accent-colour;
      }

      i {
        color: @accent-colour;
        font-weight: 400;
      }
    }
  }

  &__sortform {
    flex: 0 0 auto;
    margin-right: 20px;
    margin-bottom: 10px;

    @media @ipad {
      select {
        font-size: 12px;
      }
    }

    @media @mobile {
      position: fixed;
      top: 50px;
      right: 0;
      height: 50px;
      width: calc(~'(100% / 2)');
      display: block;
      margin-right: 0;
      padding: 8px;
      background: @custom-colour1;
      box-sizing: border-box;
      z-index: 10;

      select {
        background: #f5f5f5 url('@{dealer-img}/theme/select-icon{CACHE_BUSTER}.svg') no-repeat;
        background-size: 12px 12px;
        background-position: right 5px center;
        font-size: 16px;
        border: 0;
        box-shadow: none;
      }
    }
  }

  &__layout-toggle {
    margin-right: 20px;
    margin-bottom: 10px;

    @media @ipad {
      display: none;
    }
  }
}




// pagination

ol.pagenavi {
  .flex-display(@display: flex);
  .flex-direction(@direction: row-reverse);
  .justify-content(@justify: center);

  @media @mobile {
    float: none !important;
    .flex-display(@display: flex) !important;
  }

  li {
    margin: 0 5px 0 0;

    a {
      .flex-display(@display: flex);
      .justify-content(@justify: center);
      .align-items(@align: center);
      width: 30px;
      height: 30px;
      padding: 0;
      background: @custom-colour2;
      color: white;
      font-weight: 600;
      border-radius: 99px;

      &:hover {
        background: @primary-colour;
        color: white;
      }

      &.active {
        background: @accent-colour;
        color: white;
      }

      &.next,
      &.previous {
        display: inline-block;
        width: auto;
        background: transparent;
        color: @text-colour;
        font-size: 14px;
        line-height: 30px;
        white-space: nowrap;

        @media @tablet {
          font-size: 10px;
        }

        &:hover {
          background: transparent;
          color: @primary-colour;
        }
      }
    }

    &.pagenavi__next {
      margin-left: 10px;

      i {
        margin-left: 5px;
      }
    }

    &.pagenavi__prev {
      margin-right: 10px;

      i {
        margin-right: 5px;
      }
    }

  }
}

.mobile-filters {
  .flex-display(@display: flex);
  .align-items(@align: center);
  .justify-content(@justify: center);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#sortform,
#sortform_bottom {
  width: 100%;

  select {
    margin: 0 !important;
    height: 36px;
  }

  label {
    display: none;
  }

  .select {
    width: 100%;
  }
}





// Showroom Layout

.showroom-layout-toggle {
  margin: 0;
  .flex-display(@display: flex);
  .justify-content(@justify: center);

  button {
    .flex-display(@display: flex);
    .align-items(@align: center);
    padding: 5px !important;
    margin: 0 0 0 5px !important;
    background: none;
    text-shadow: none;
    border: 0;
    box-shadow: none;
    outline: none;

    i {
      font-size: 24px !important;
      margin: 0 !important;
      color: #9b9b9b !important;
    }

    span {
      font-size: 14px !important;
      font-weight: bold !important;
      text-transform: uppercase !important;
      color: #9b9b9b !important;
    }

    &.toggled {

      i {
        color: @primary-colour  !important;
      }
    }
  }
}










.vehicle-results-list {
  padding: 20px;
  box-sizing: border-box;

  @media @tablet {
    padding: 10px;
  }

  @media @mobile {
    padding: 0 10px 10px;
  }
}

.results-vehicleresults {
  margin: 0 -20px -20px 0;
  .flex-display(@display: flex);
  .flex-direction(@direction: column);
}

.listing {
  .flex-display(@display: flex);
  margin: 0 20px 20px 0;
  background: white;
  border: 1px solid darken(@body-colour, 7%);
  border-radius: 5px;
  box-shadow: 0 3px 3px #eaeff7;
  box-sizing: border-box;
  overflow: hidden;

  @media @ipad {
    .flex-grow(@grow: 0);
    .flex-shrink(@shrink: 0);
    .flex-basis(@width: calc(~'100% / 1 - 20px'));
    .flex-wrap(@wrap: wrap);
    width: calc(~'100% / 1 - 20px');
  }

  @media @mobile {
    .flex-direction(@direction: column);
    flex-wrap: wrap;
  }

  .results-image-block {
    position: relative;

    @media @lap {
      .flex-basis(@width: 320px);
      max-width: 320px;
    }

    @media @tablet {
      .flex-basis(@width: 220px);
      max-width: 220px;
    }

    @media @ipad {
      flex: 0 0 100%;
      .flex-grow(@grow: 0);
      .flex-shrink(@shrink: 0);
      .flex-basis(@width: 100%);
      width: 100%;
      max-width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .results-info-block {
    position: relative;
    .flex-grow(@grow: 1);
    .flex-shrink(@shrink: 1);
    .flex-basis(@width: auto);
    width: 100%;
    font-family: @body-font;
    overflow: hidden;

    @media @ipad {
      width: auto;
      display: block;
    }
  }

  .results-summary {
    .flex-display(@display: flex);
    .align-items(@align: center);
    margin: 0 0 30px 0;

    @media @ipad {
      margin: 0;
    }

    &__title {
      margin-right: 10px;
      font-family: @heading-font;
      font-size: 24px;
      line-height: 1.2;
      font-weight: 700;
      color: @heading-colour;

      @media @lap {
        font-size: 20px;
      }

      @media @tablet {
        font-size: 18px;
      }

      @media @ipad {
        font-size: 16px;
      }
    }

    &__subtitle {
      font-size: 16px;
      line-height: 1.2;
      color: @text-colour;

      @media @tablet {
        font-size: 15px;
      }

      @media @ipad {
        font-size: 14px;
      }
    }

  }

  .results-price {
    .flex-display(@display: flex);
    width: 100%;
    box-sizing: border-box;
    min-height: 60px;

    &__price,
    &__finance {
      position: relative;
      .flex-grow(@grow: 1);
      .flex-shrink(@shrink: 1);
      .flex-basis(@width: 50%);
      width: 50%;
      .flex-display(@display: flex);
      .flex-direction(@direction: column);
      .justify-content(@justify: center);
      .align-items(@align: center);
      background: @primary-colour;
      color: white;
      padding: 10px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      font-weight: bold;
      box-sizing: border-box;

      @media @tablet {
        font-size: 14px;
      }

      .label {
        color: @text-colour;
        font-family: @body-font;
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
      }

      .price {
        font-size: 18px;
      }

      .price,
      .monthly {
        color: white;
        font-family: @heading-font;
        line-height: 1;
        font-weight: bold;

        span {
          font-size: 10px;
        }
      }
    }

    &__finance {
      background: lighten(@primary-colour, 15%);

      .label {
        color: @accent-colour;
      }
    }
  }

  .results-info {
    .flex-display(@display: flex);

    @media (max-width:1300px) {
      .flex-direction(@direction: column);
    }

    @media @ipad {
      margin-top: 15px;
    }

    .results-spec,
    .results-key-info {
      flex: 0 0 50%;
      .flex-grow(@grow: 0);
      .flex-shrink(@shrink: 0);
      .flex-basis(@width: 50%);
      width: 50%;

      li {
        display: flex;
        margin: 0 0 5px 0;
        line-height: 26px;
        border-bottom: 1px solid @custom-colour1;

        @media @mobile {
          font-size: 14px;
        }

        .results-spec__label,
        .results-spec__stat {
          flex: 0 0 50%;
          .flex-grow(@grow: 0);
          .flex-shrink(@shrink: 0);
          .flex-basis(@width: 50%);
          width: 50%;
          float: left;
        }

        .results-spec__stat {
          color: @primary-colour;
        }

      }

    }

    .results-spec {

      @media (max-width: 1300px) {
        flex: 0 0 100%;
        .flex-grow(@grow: 0);
        .flex-shrink(@shrink: 0);
        .flex-basis(@width: 100%);
        width: 100%;
      }

      @media @ipad {
        li:first-child {
          display: none;
        }
      }
    }

    .results-key-info {

      @media (max-width: 1300px) {
        display: none;
      }

      li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        margin: 0 5px 0 0;
        color: @primary-colour;
        line-height: 24px;
      }
    }
  }

  .results-cta {
    .flex-display(@display: flex);
    flex-wrap: wrap;
    position: absolute;
    bottom: 20px;
    margin-right: -20px;
    margin-bottom: -10px;
  }

  .results-button,
  .btn-engage {
    .btn;
    display: inline-block;
    .flex-grow(@grow: 0);
    .flex-shrink(@shrink: 0);
    .flex-basis(@width: auto);
    width: auto;
    padding: 0 30px;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    line-height: 45px !important;

    @media @tablet {
      .flex-grow(@grow: 1);
      .flex-shrink(@shrink: 1);
      .flex-basis(@width: 140px);
    }

    @media @ipad {
      padding: 0 15px;
    }
  }
}


//////////////////////////////////////////
/* ------------ Grid View  ------------ */
//////////////////////////////////////////

.results-vehicleresults.grid-view {
  .flex-display(@display: flex);
  .flex-wrap(@wrap: wrap);
  .flex-direction(@direction: row);

  .listing {
    position: relative;
    .flex-display(@display: flex);
    .flex-direction(@direction: column);
    .flex-grow(@grow: 0);
    .flex-shrink(@shrink: 0);
    .flex-basis(@width: calc(~'100% / 4 - 20px'));
    width: calc(~'100% / 4 - 20px');
    padding: 0;

    @media @desk {
      .flex-grow(@grow: 0);
      .flex-shrink(@shrink: 0);
      .flex-basis(@width: calc(~'100% / 3 - 20px'));
      width: calc(~'100% / 3 - 20px');
    }

    @media @lap {
      .flex-grow(@grow: 0);
      .flex-shrink(@shrink: 0);
      .flex-basis(@width: calc(~'100% / 2 - 20px'));
      width: calc(~'100% / 2 - 20px');
    }

    @media @ipad {
      display: block;
      .flex-grow(@grow: 0);
      .flex-shrink(@shrink: 0);
      .flex-basis(@width: calc(~'100% / 1 - 20px'));
      width: calc(~'100% / 1 - 20px');
    }

    .results-image-block {
      .flex-grow(@grow: 0);
      .flex-shrink(@shrink: 0);
      .flex-basis(@width: auto);
      width: auto;
      max-width: 100%;
      margin: 0;

      img {
        object-fit: initial;
        height: auto;
        width: 100%;
      }
    }

    .results-info-block {
      position: static;
      .flex-display();
      .flex-direction(@direction: column);
      width: auto;
      padding: 20px;
    }

    .results-summary {
      width: 100%;
      margin: 0 0 20px 0;

      &__title {
        font-size: 20px;

        @media @tablet {
          font-size: 18px;
        }
      }

      &__subtitle {
        font-size: 14px;
      }

    }

    .results-price {
      position: static;
      width: 100%;
      box-sizing: border-box;
      margin: 0;

      &__price {
        &:before {
          display: none;
        }
      }
    }

    .results-info {
      .flex-display(@display: flex);
      .flex-direction(@direction: column);
      margin-bottom: 20px;
    }

    .results-spec {
      width: 100%;

      li {
        font-size: 14px;
      }
    }

    .results-key-info {
      display: none;
    }

    .results-savings {
      margin: 20px 0 0 0;
    }

    .results-cta {
      position: relative;
      bottom: 0;
      margin-top: auto;
    }

    .results-button {
      .flex-grow(@grow: 1);
      .flex-shrink(@shrink: 1);
      .flex-basis(@width: 140px);
      padding: 0 10px;
    }
  }
}



// list view

.results-vehicleresults.list-view {

  .listing {
    @media @tablet {
      .flex-wrap(@wrap: wrap);
    }

    .results-image-block {
      flex: 0 0 480px;
      .flex-grow(@grow: 0);
      .flex-shrink(@shrink: 0);
      .flex-basis(@width: 480px);
      max-width: 480px;

      @media @lap {
        flex: 0 0 320px;
        .flex-grow(@grow: 0);
        .flex-shrink(@shrink: 0);
        .flex-basis(@width: 320px);
        max-width: 320px;
      }

      @media @tablet {
        .flex-grow(@grow: 0);
        .flex-shrink(@shrink: 0);
        .flex-basis(@width: 100%);
        max-width: 100%;
      }
    }

    .results-info-block {
      padding: 20px 20px 85px 20px;

      @media @tablet {
        padding: 20px;
      }
    }

    .results-cta {
      @media @tablet {
        position: relative;
        bottom: 0;
        margin-top: 20px;
      }
    }
  }
}



.results-finance-section {
  margin: 0;
  padding: 50px 0;

  @media @tablet {
    padding: 40px 0;
  }

  @media @mobile {
    padding: 30px 0;
  }

  .results-finance-example__title {
    display: block;
    font-family: @heading-font;
    font-weight: 700;
    text-align: center;
  }

  .results-finance-example .results-finance-figure {
    @media @lap {
      flex-basis: calc(~'100% / 6 - 2px');
      width: calc(~'100% / 6 - 2px');
    }
    @media @tablet {
      flex-basis: calc(~'100% / 4 - 2px');
      width: calc(~'100% / 4 - 2px');
    }
    @media @mobile {
      flex-basis: calc(~'100% / 2 - 2px');
      width: calc(~'100% / 2 - 2px');
    }
  }
}


.makesmodels {
  padding: 50px 0;
  background: white;
  border-top: 1px solid darken(@body-colour, 7%);
  border-bottom: 1px solid darken(@body-colour, 7%);

  @media @tablet {
    padding: 40px 0;
  }

  @media @mobile {
    padding: 30px 0;
  }

  &__header {
    color: @heading-colour;
    font-family: @heading-font;
    font-weight: 700;
    text-align: center;
  }

  a.makesmodels__listitem__link,
  a:visited.makesmodels__listitem__link {
    color: @text-colour;

    &:hover {
      color: @primary-colour;
      text-decoration: none;
    }
  }
}

#search_page #webzation-text {
  padding: 50px 0;
  background: white;
  overflow: hidden;
  clear: both;

  @media @tablet {
    padding: 40px 0;
  }

  @media @mobile {
    padding: 30px 0;
  }
}

.breadcrumb {
  display: block;
  background: white;
  color: @text-colour;
  border-bottom: 1px solid darken(@body-colour, 7%);

  @media @mobile {
    margin-top: 50px;
    border-bottom: 0;
  }

  .container {
    max-width: 100%;
  }

  .breadcrumb__listitem a,
  .breadcrumb__listitem a:visited {
    color: @text-colour;
    font-size: 10px;

    &:after {
      color: lighten(@text-colour, 10%);
    }
  }

  .breadcrumb__listitem a:hover,
  .breadcrumb__listitem a:visited:hover {
    color: @accent-colour;
  }
}


// ENGAGE PREMIUM BUTTONS OVERRIDE 
.results-vehicleresults {

  .results-btn-add,
  .results-btn-compare,
  .results-btn-finance {
    display: none !important;
  }

  .row.results__cta--standard.engage-premium-enabled{
    flex-direction: column;
  }

  .engage-premium-enabled .results-btn--finance{
    margin: 0 0 10px 0;
  }

  // results SEO special
  &.grid-view,
  &.list-view {
    .results__cta--standard {
      .results-btn-view,
      .results-btn--finance{
        flex: 1 1 100%;
        width: 100%;

        @media @mobile {
          width: 100% !important;
        }
      }

      .results-btn--finance{
        margin-top: 10px;
      }
    }

    .results-info {
      margin-bottom: 20px;
    }
  }

  &.list-view {

    .results__cta--engage.engage-premium-enabled,
    .results__cta--standard.engage-premium-enabled,
    .results__cta--standard {

      justify-content: flex-start;

      .results-btn-view,
      .results-btn-view--engage {
        flex: 0 0 auto;
        width: auto;
      }
    }
  }
}



// Make all buttons line up with each other at the bottom of the vehicle card.

.results__cta--engage,
.results__cta--standard {
  margin-top: auto;
}



// Engage button fixes

.results-vehicleresults.grid-view {
  .results__cta--engage {
    flex-direction: column;
    margin-bottom: -10px;
    .results-btn-view,
    .results-btn-view--engage {
      flex: 1 1 100% !important;
      width: 100% !important;
      margin: 0 0 10px !important;
    }
  }
}
